/*

Základní syntaxe CSS

selector {
    vlastnosti-1: hodnota;
    vlastnosti-2: hodnota;
    vlastnosti-3: hodnota;
    vlastnosti-4: hodnota;
    vlastnosti-5: hodnota;
    ...
    vlastnosti-n: hodnota;

}

*/

body {
    background-color:deeppink;
    font-family: Arial, Helvetica, sans-serif;
}


p {
    font-family:'Times New Roman', Times, serif;
}
